header
	section.header-sunshine
		.container
			.header-wrapper-left
				.navbrand
					a(href="/")
						img(src="./img/logo.png", alt="")
			.header-wrapper-right
				.header-wrapper-top
					.search-wrapper
						.searchbox
							input(placeholder="Tìm kiếm")
							button
								em.mdi.mdi-magnify
					.contact-wrapper
						a(href="tel:0919170173")
							em.mdi.mdi-phone
							| 09019 170 173
					.account-wrapper
						em.mdi.mdi-account
						.account-wrapper-toggle
							li.firstnav
							li Đăng nhập
					.wish-list-wrapper
						.wish-list-item
							em.mdi.mdi-heart-outline
							span.number
					.cart-wrapper
						img(src="./img/cart-grey.png", alt="")
						span.number
				.header-wrapper-bottom
					.navigation-wrapper
						ul
							li.has-mega
								a(href="javascript:void(0)") Sản phẩm
								em.lnr.lnr-chevron-down
								.row.mega-wrapper
									em.lnr.lnr-cross
									.col-sm-4.col-md-3.col-xl-2.mega-item
										h2 Cooking Equipment
										ul.mega-list
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
									.col-sm-4.col-md-3.col-xl-2.mega-item
										h2 Cooking Equipment
										ul.mega-list
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
									.col-sm-4.col-md-3.col-xl-2.mega-item
										h2 Cooking Equipment
										ul.mega-list
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
									.col-sm-4.col-md-3.col-xl-2.mega-item
										h2 Cooking Equipment
										ul.mega-list
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
								
								
							li.has-mega
								a(href="javascript:void(0)") Thuong hiệu
								em.lnr.lnr-chevron-down
								.row.mega-wrapper.active
									em.lnr.lnr-cross
									.col-sm-4.col-md-3.col-xl-2.mega-item
										h2 Cooking Equipment
										ul.mega-list
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
									.col-sm-4.col-md-3.col-xl-2.mega-item
										h2 Cooking Equipment
										ul.mega-list
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
									.col-sm-4.col-md-3.col-xl-2.mega-item
										h2 Cooking Equipment
										ul.mega-list
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
									
								
							li
								a(href="javascript:void(0)") Quảng cáo
							li.has-mega
								a(href="javascript:void(0)") Tin tức
								em.lnr.lnr-chevron-down
								.row.mega-wrapper.active
									em.lnr.lnr-cross
									.col-sm-4.col-md-3.col-xl-2.mega-item
										h2 Cooking Equipment
										ul.mega-list
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
									.col-sm-4.col-md-3.col-xl-2.mega-item
										h2 Cooking Equipment
										ul.mega-list
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
									.col-sm-4.col-md-3.col-xl-2.mega-item
										h2 Cooking Equipment
										ul.mega-list
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
									.col-sm-4.col-md-3.col-xl-2.mega-item
										h2 Cooking Equipment
										ul.mega-list
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
							li.has-mega
								a(href="") Chăm sóc khách hàng
								em.lnr.lnr-chevron-down
								.row.mega-wrapper.active
									.col-sm-4.col-md-3.col-xl-2.mega-item
										h2 Cooking Equipment
										ul.mega-list
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
											li
												a(href="#") Sub menu sub
							li
								a(href="") Liên hệ
					.language-wrapper
						ul.language-list
							li.has-sub
								span EN
								ul.nav-sub
									li
										a(href="#") EN 
									li
										a(href="#") VN
					
					.group-link-wrapper
						.group-link-wrapper
							a(href="#") Sunshine Group
						.group-link-wrapper

			.mobile-toggle
				em.lnr.lnr-menu
			.mobile-wrapper
