section.faq-display
	.container
		.title-grey-center FAQ
		.row
			.col-lg-9
				ul.faq-dashboard
					li
						span.title Lorem ipsum dolor sit amet consectetur adipisicing elit.  1
						.content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque sunt vero totam dolores adipisci eligendi laborum. Consectetur ea laboriosam sunt corporis sint similique, deleniti molestiae aliquid provident, nostrum hic.
					li
						span.title Lorem ipsum dolor sit amet consectetur adipisicing elit.  123
						.content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque sunt vero totam dolores adipisci eligendi laborum. Consectetur ea laboriosam sunt corporis sint similique, deleniti molestiae aliquid provident, nostrum hic.
					li
						span.title Lorem ipsum dolor sit amet consectetur adipisicing elit. 32
						.content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque sunt vero totam dolores adipisci eligendi laborum. Consectetur ea laboriosam sunt corporis sint similique, deleniti molestiae aliquid provident, nostrum hic.
					li
						span.title Lorem ipsum dolor sit amet consectetur adipisicing elit. 43
						.content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque sunt vero totam dolores adipisci eligendi laborum. Consectetur ea laboriosam sunt corporis sint similique, deleniti molestiae aliquid provident, nostrum hic.
					li
						span.title Lorem ipsum dolor sit amet consectetur adipisicing elit.  53
						.content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque sunt vero totam dolores adipisci eligendi laborum. Consectetur ea laboriosam sunt corporis sint similique, deleniti molestiae aliquid provident, nostrum hic.
					li
						span.title Lorem ipsum dolor sit amet consectetur adipisicing elit. 2
						.content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque sunt vero totam dolores adipisci eligendi laborum. Consectetur ea laboriosam sunt corporis sint similique, deleniti molestiae aliquid provident, nostrum hic.
			.col-lg-3
				.question-wrapper
					h2 Are you still unsure or need more information? Please contact us by the form below
					.wrap-form
						.row
							.form-group.col-12
								input.form-control(type='text' ,placeholder="Full name")
							.form-group.col-12
								input.form-control(type='text',placeholder="Email")
							.form-group.col-12
								textarea#inpputTextArea.form-control(rows='5',placeholder='Your question ...')
						.frm-btnwrap
							.frm-btn
								input(type="submit" value ="Send")
