section.home-product
	.container
		.tab-navigation-wrapper
			ul
				li
					a(href="#") New Products
				li
					a(href="#") Promotion Products
		.tab-wrapper
			.tab-content.active
				.row
					.col-lg-6
						.banner
							.wrapper
								a(href="")
									img(src="./img/banner/2.jpg", alt="")
							.caption
								.banner-button
									a(href="") Xem thêm

					.col-lg-6
						.row
							.col-6
								figure
									.figure-image
										.figure-image
											a(href="#")
												img(src="./img/product/1.png", alt="")
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													img(src="./img/cart-grey.png", alt="")
							.col-6
								figure
									.figure-image
										.figure-image
											a(href="#")
												img(src="./img/product/1.png", alt="")
									figcaption
										.top-caption
											h2 
												a Sef 8000
											h3 
												a Electric Salamander -Fixed Top
										.bottom-caption
											.price
												h4 5.500.000 đ
												h5
													s 6.500.000 đ
											.cart
												a
													em.mdi.mdi-heart-outline
												a
													img(src="./img/cart-grey.png", alt="")


					.col-lg-3
						figure
							.figure-image
								.figure-image
									a(href="#")
										img(src="./img/product/1.png", alt="")
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											img(src="./img/cart-grey.png", alt="")
					.col-lg-3
						figure
							.figure-image
								.figure-image
									a(href="#")
										img(src="./img/product/1.png", alt="")
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											img(src="./img/cart-grey.png", alt="")
					.col-lg-3
						figure
							.figure-image
								.figure-image
									a(href="#")
										img(src="./img/product/1.png", alt="")
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											img(src="./img/cart-grey.png", alt="")
					.col-lg-3
						figure
							.figure-image
								.figure-image
									a(href="#")
										img(src="./img/product/1.png", alt="")
							figcaption
								.top-caption
									h2 
										a Sef 8000
									h3 
										a Electric Salamander -Fixed Top
								.bottom-caption
									.price
										h4 5.500.000 đ
										h5
											s 6.500.000 đ
									.cart
										a
											em.mdi.mdi-heart-outline
										a
											img(src="./img/cart-grey.png", alt="")
				