section.home-banner-top
		.swiper-container
			.container.swiper-navigation-wrapper
				.navigation-banner-prev
					em.lnr.lnr-chevron-left
				.navigation-banner-next
					em.lnr.lnr-chevron-right
			.swiper-wrapper
				.swiper-slide
					.wrapper
						.swiper-image
							img(src="./img/banner/1.jpg", alt="")
						.container.caption-wrapper
							.swiper-caption
								h2 Cooking Equiment
								h3  Nayati Total Food Service Solution
								.shop-now-button
									a
										img(src="./img/cart-white.png", alt="")
										| Shop now
				.swiper-slide
					.wrapper
						.swiper-image
							img(src="./img/banner/1.jpg", alt="")
						.container.caption-wrapper
							.swiper-caption
								h2 Cooking Equiment
								h3  Nayati Total Food Service Solution
								.shop-now-button
									a
										img(src="./img/cart-white.png", alt="")
										| Shop now
				.swiper-slide
					.wrapper
						.swiper-image
							img(src="./img/banner/1.jpg", alt="")
						.container.caption-wrapper
							.swiper-caption
								h2 Cooking Equiment
								h3  Nayati Total Food Service Solution
								.shop-now-button
									a
										img(src="./img/cart-white.png", alt="")
										| Shop now
				.swiper-slide
					.wrapper
						.swiper-image
							img(src="./img/banner/1.jpg", alt="")
						.container.caption-wrapper
							.swiper-caption
								h2 Cooking Equiment
								h3  Nayati Total Food Service Solution
								.shop-now-button
									a
										img(src="./img/cart-white.png", alt="")
										| Shop now
			.swiper-pagination


