section.product-information-detail
	.container
		.title-grey Tms -1h
		.row
			.col-lg-7
				.information-swiper-wrapper
					.swiper-product-top
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/detail.png", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/detail.png", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/detail.png", alt="")
					.swiper-product-thumb
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/detail.png", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/detail.png", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/detail.png", alt="")
								.swiper-slide
									.wrapper
										.swiper-image
											img(src="./img/product/detail.png", alt="")
			.col-lg-5
				.product-information-wrapper
					table
						tbody
							tr
								td Product Name
								td Movable Electric Salamander
							tr
								td Code
								td 120560
							tr
								td Power
								td 3.6 Kw 
							tr
								td Voltage
								td 230v/50 Hz
							tr
								td Brand
								td Hatco
							tr
								td Country
								td US
							tr
								td Color
								td Grey
							tr
								td Size
								td  600 x 503 x 515mm
					
							tr
								td Price
								td 12.225.000

					.download-file
						a
							em.mdi.mdi-file-pdf
							| Grill_TMS-1H.pdf
					.hot-line-wrapper
						p Contact us if you need project advice. 
						p Hotline
							a(href="tel:0919170173") 0919 170 173
					.button-wrapper
						.check-out-button
							a(href="#") Add to cart
						.social-network-wrapper
							p Share
							.social-button
								a(href="#")
									em.fab.fa-facebook-f
							.social-button
								a(href="#")
									em.fab.fa-youtube
		.product-tab-wrapper
			.tab-navigation-wrapper
				ul
					li
						a(href="javascript:void(0)" data-type="tab-1") Product information
					li
						a(href="javascript:void(0)" data-type="tab-2") Specification
					li
						a(href="javascript:void(0)" data-type="tab-3") Gallery
					li
						a(href="javascript:void(0)" data-type="tab-4") Guide

			.tab-wrapper
				.tab-item#tab-1.active
					p The heating elements are strategically positioned inside the moveable upper housing to reduce heat transfer to surrounding areas whilst precisely positioning heat over the food product.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe illo officia dignissimos dolorum? Mollitia neque, illum excepturi nostrum dolor pariatur, praesentium reprehenderit commodi dicta similique tempore eaque, eveniet unde?
					p TMS-1H Salamander includes a HOLD Mode switch that reduces power to 25% saving energy and keeping food at proper serving temperatures.
					img(src="./img/product/detail-2.png", alt="")
				.tab-item#tab-2
					p The heating elements are strategically positioned inside the moveable upper housing to reduce heat transfer to surrounding areas whilst precisely positioning heat over the food product.
					p The TMS-1H Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe illo officia dignissimos dolorum? Mollitia neque, illum excepturi nostrum dolor pariatur, praesentium reprehenderit commodi dicta similique tempore eaque, eveniet unde?n. Different combinations of elements may be selected to cook the desired quantities of food the way you like.
					p TMS-1H Salamander includes a HOLD Mode switch that reduces power to 25% saving energy and keeping food at proper serving temperatures.
					img(src="./img/product/detail-2.png", alt="")
				.tab-item#tab-3
					p The heating elements aLorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe illo officia dignissimos dolorum? Mollitia neque, illum excepturi nostrum dolor pariatur, praesentium reprehenderit commodi dicta similique tempore eaque, eveniet unde? product.
					p The TMS-1H Salamander’s left aLorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe illo officia dignissimos dolorum? Mollitia neque, illum excepturi nostrum dolor pariatur, praesentium reprehenderit commodi dicta similique tempore eaque, eveniet unde?red quantities of food the way you like.
					p TMS-1H Salamander includes a HOLD Mode switch that reduces power to 25% saving energy and keeping food at proper serving temperatures.
					img(src="./img/product/detail-2.png", alt="")
				.tab-item#tab-4
					p The heaLorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe illo officia dignissimos dolorum? Mollitia neque, illum excepturi nostrum dolor pariatur, praesentium reprehenderit commodi dicta similique tempore eaque, eveniet unde?nsfer to surrounding areas whilst precisely positioning heat over the food product.
					p The TMS-1H Salamander’s left and right heating elements may be operated independently, allowing the benefits of flexibility and energy conservation. Different combinations of elements may be selected to cook the desired quantities of food the way you like.
					p TMS-1H Salamander includes a HOLD Mode switch that reduces power to 25% saving energy and keeping food at proper serving temperatures.
					img(src="./img/product/detail-2.png", alt="")

		.others-project
			.white-title-bg-grey
				p Similar product
			.row
				.col-sm-6.col-lg-3
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/product/3.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
							.bottom-caption
								.price
									h4 5.500.000 đ
									h5
										s 6.500.000 đ
								.cart
									a
										em.mdi.mdi-heart-outline
									a
										.cart-icon
				.col-sm-6.col-lg-3
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/product/4.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
							.bottom-caption
								.price
									h4 5.500.000 đ
									h5
										s 6.500.000 đ
								.cart
									a
										em.mdi.mdi-heart-outline
									a
										.cart-icon
				.col-sm-6.col-lg-3
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/product/5.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
							.bottom-caption
								.price
									h4 5.500.000 đ
									h5
										s 6.500.000 đ
								.cart
									a
										em.mdi.mdi-heart-outline
									a
										.cart-icon
				.col-sm-6.col-lg-3
					.figure-product
						.figure-image
							a(href="#")
								img(src="./img/product/6.png", alt="")
						figcaption
							.top-caption
								h2 
									a Sef 8000
								h3 
									a Electric Salamander -Fixed TopElectric Salamander -Fixed Top
							.bottom-caption
								.price
									h4 5.500.000 đ
									h5
										s 6.500.000 đ
								.cart
									a
										em.mdi.mdi-heart-outline
									a
										.cart-icon
			